huggingface-hub==0.27.0
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-google-genai==2.0.7
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.4
langcodes==3.5.0
langsmith==0.2.6
numpy==1.26.4
pandas==2.2.3
pdfplumber==0.11.4
scikit-learn==1.6.0
scipy==1.14.1
SQLAlchemy==2.0.36
sqlmodel==0.0.22
srsly==2.5.0
streamlit==1.41.1
